.landing-section {
  width: 100vw;
  height: 100vh;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .landing-content {
    @include grid-row;
    height: 100%;
    position: relative;
    .primary-moto {
      @include grid-column(10);
      @include grid-column-position(center);
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      margin-top: -180px;

      background-color: rgba(0, 0, 0, 0.6);
      color: $white;
      text-align: center;
    }

    .secondary-moto {
      @include grid-column(10);
      @include grid-column-position(center);
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      margin-top: -80px;

      background-color: rgba(0, 0, 0, 0.6);
      color: $white;
      text-align: center;
      text-align: center;
    }

    .landing-buttons {
      @include grid-column(9);
      @include grid-column-position(center);
      right: 0;
      left: 0;
      position: absolute;
      bottom: 100px;

      @include breakpoint(medium) {
        @include grid-column(8);
        bottom: 300px;
      }

      a {
        @include grid-column(12);
        @include breakpoint(medium) {
          @include grid-column(5.5);
        }
      }

    }

  }

}
