.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.top-bar {
  background-color: transparent;
  .site-logo {
    width: 220px;
    height: auto;
    background-size: cover;
  }
}
